# ==========================================================
# Eclipse
# ==========================================================
.project
.classpath
.settings/
.metadata/

# ==========================================================
# Build
# ==========================================================
build/
bin/
out/

# ==========================================================
# Gradle
# ==========================================================
.gradle/

# ==========================================================
# Logs
# ==========================================================
*.log

# ==========================================================
# OS
# ==========================================================
.DS_Store
Thumbs.db

# ==========================================================
# IntelliJ
# ==========================================================
.idea/
*.iml

# ==========================================================
# VSCode
# ==========================================================
.vscode/

# ==========================================================
# Environment
# ==========================================================
.env
.env.*

# ==========================================================
# Application Secrets
# ==========================================================
src/main/resources/application-local.yml
src/main/resources/application-secret.yml
src/main/resources/application-prod.yml

# ==========================================================
# Generated
# ==========================================================
*.class